.Back-link {
  color: #555555;
  margin-bottom: 10px;
}
.Case-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

#page-title {
  font-weight: 800;
  font-size: 1.25em;
}

.case-totals {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-right: 50px;
}

.case-totals-title {
  font-weight: 500;
  font-size: medium;
  color: #a0a0a0;
  text-align: right;
}

.case-totals-data {
  font-weight: 700;
  font-size: 1em;
}

#new-stats-title-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-top: 50px;
}

#subtitle {
  font-weight: 800;
  font-size: 20px;
  text-align: left;
}

#new-stats-date {
  background-color: rgb(200, 240, 255);
  color: rgb(0, 69, 173);
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
  padding: 3px;
  border-radius: 5px;
}

.new-stats {
  flex: 1;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 50px;
  padding: 10px;
  width: 237px;
  border-radius: 5px;
  justify-content: left;
}

.new-stats-title {
  font-weight: 500;
  font-size: medium;
  color: #818181;
  text-align: left;
}

.new-stats-data {
  font-weight: 700;
  font-size: 1em;
}

.gen-stats-description {
  font-weight: 500;
  font-size: small;
  color: #818181;
  text-align: left;
}

.card-stats-div {
  margin-top: 5px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
