.global-totals-title {
  font-weight: 800;
  font-size: 1.25em;
  text-align: center;
  margin: 100;
  background-color: aqua;
}

.totals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totals-stitle{
  font-weight: 500;
  font-size: medium;
  color: #a0a0a0;
  text-align: left;
}

.totals-data{
  font-weight: 700;
  font-size: 1.5em;
}

